@use "utils" as *;

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.input__btn-wrapper {
  margin-bottom: rem(20);

  .btn {
    border: none;
    font-family: var(--fontPrimary);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: rem(24);
    background-color: var(--veryDarkCyan);
    color: var(--veryLightGrayishCyan);
    transition: all 150ms ease-in-out;

    @include breakpoint(large) {
      &:hover {
        cursor: pointer;
        background-color: var(--lightGrayishCyan);
        color: var(--veryDarkCyan);
      }
    }
  }

  input {
    width: 100%;
  }

  .selected {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
  }
}

.reset-wrapper {
  .btn {
    border: none;
    font-family: var(--fontPrimary);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: rem(24);
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    transition: all 150ms ease-in-out;

    @include breakpoint(large) {
      &:hover {
        cursor: pointer;
        background-color: var(--lightGrayishCyan);
        color: var(--veryDarkCyan);
      }
    }

    @include breakpoint-down(medium) {
      &:active {
        background-color: var(--lightGrayishCyan);
        color: var(--veryDarkCyan);
      }
    }
  }
}
