@use "utils" as *;
@forward "buttons";

body {
  background-color: var(--lightGrayishCyan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @include breakpoint(large) {
    justify-content: center;
  }
}

.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: rem(30);
  border-top-left-radius: rem(20);
  border-top-right-radius: rem(20);
  max-width: 58em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  @include breakpoint(large) {
    flex-direction: row;
    gap: rem(30);
    border-radius: rem(20);
  }

  h2 {
    font-size: rem(14);
    margin-bottom: 5px;

    span {
      color: var(--darkGrayishCyan);
    }
  }
}

input {
  font-family: var(--fontPrimary);
  text-align: right;
  background-color: var(--veryLightGrayishCyan);
  border: 2px solid transparent;
  padding: 8px;
  border-radius: 5px;
  font-size: rem(24);
  color: var(--veryDarkCyan);
  transition: border 100ms ease-in-out;

  &:focus {
    outline: none;
    border: 2px solid var(--strongCyan);
  }
}

.input {
  color: var(--darkGrayishCyan);
  flex: 1;

  &__bill-wrapper {
    margin-bottom: rem(20);
    input {
      background-image: url("../images/icon-dollar.svg");
      background-repeat: no-repeat;
      background-position: 4% 50%;
      width: 100%;
    }
  }

  &__people-wrapper {
    margin-bottom: rem(20);
    input {
      background-image: url("../images/icon-person.svg");
      background-repeat: no-repeat;
      background-position: 4% 50%;
      width: 100%;

      &.empty {
        border: 2px solid red;
      }
    }

    .people-title {
      display: flex;
      font-size: rem(14);
      justify-content: space-between;

      p {
        margin: 0;
        color: red;
      }
    }
  }
}

.output {
  background-color: var(--veryDarkCyan);
  color: var(--white);
  flex: 1;
  border-radius: 10px;
  padding: rem(25);

  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .split-wrapper {
    margin-bottom: rem(40);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .tipPerPerson,
  .totalPerPerson {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      font-size: rem(35);
      color: var(--strongCyan);
    }
  }
}

nav {
  margin-bottom: rem(30);
  margin-top: rem(50);

  @include breakpoint(large) {
    margin-top: 0;
  }
}
